button {
    font: var(--p);
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
    padding: var(--padding-small);
    border-radius: 1.5rem;
}

button:hover {
    background-color: var(--color-secondary);
}