/* Aplica box-sizing a todos los elementos */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    /* Cambia si el header está fijo */
    z-index: 10;
    background-color: #fa6900;
    /* Ajusta según tu estilo */
    padding: 20px;
    width: 100%;
}

.section-headstream {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    margin-top: 80px;
    /* Añadido para dar espacio entre el header y el contenido */
}

.section-headstream div {
    flex: 1;
    margin: 20px;
}

.section-headstream h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: white;
}

.section-headstream p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
}

.section-headstream img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* Cambiado de 'contain' a 'cover' para asegurar que la imagen llene el contenedor */
    border-radius: 10px;
}

.highlight {
    color: var(--color-primary);
}

@media (max-width: 768px) {
    .section-headstream {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 60px;
        /* Ajusta para pantallas pequeñas */
    }

    .section-headstream img {
        width: 90%;
        margin-top: 20px;
    }

    .section-headstream h1 {
        font-size: 3rem;
    }

    .section-headstream p {
        font-size: 1rem;
    }
}