.header {
    background-color: var(--color-primary);
    color: white;
    padding: var(--padding);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: inherit;
    color: var(--color-secondary);
}

.logo {
    font-size: var(--h1);
    font-weight: bold;
    margin-left: var(--margin);
}

.navbar {
    margin-right: var(--margin);
    padding: var(--padding-small);
    display: flex;
    gap: var(--margin-big);
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown title */
  .dropdown-title {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  /* Dropdown menu */
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-primary);
    padding: var(--padding-small);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    z-index: 1000;
  }
  
  /* Dropdown menu items */
  .dropdown-menu a {
    padding: 8px 16px;
    text-decoration: none;
    color: white;
  }
  
  .dropdown-menu a:hover {
    background-color: var(--color-secondary);
    text-decoration: none;
    color: white;
  }
  