:root {
  font-family: 'DM Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-white);
  background-color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --color-primary: #fa6900;
  --color-secondary: #250ff3;
  --color-tertiary: #c00000;
  --color-black: #060606;
  --color-white: #f8f8f8;

  /* font sizes */
  --h1: bold 4rem/1em 'DM Sans', sans-serif;
  --h2: bold 3rem/1em 'DM Sans', sans-serif;
  --h3: bold 2.25rem/1em 'DM Sans', sans-serif;
  --h4: bold 1.5rem/1em 'DM Sans', sans-serif;
  --h5: bold 1.25rem/1em 'DM Sans', sans-serif;
  --big: 1.25rem/1.6em 'DM Sans', sans-serif;
  --p: 1rem/1.6em 'DM Sans', sans-serif;
  --small: 0.75rem/2em 'DM Sans', sans-serif;

  /* padding */
  --padding: 1rem;
  --padding-big: 2rem;
  --padding-small: 0.5rem;

  /* margin */
  --margin: 1rem;
  --margin-big: 2rem;
  --margin-small: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-secondary);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--color);
  background-color: var(--background-color);
  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);
}

h1 {
  font: var(--h1);
  line-height: 1.1;
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

p {
  font: var(--p);
}




